body {
    background-color: rgb(254, 250, 239) !important;
    margin: 0px;
}

.container {
    background-color: rgb(254, 250, 239) !important;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0 0 0 0.5);
    padding-top: 16px;
}

.quiz-card {
    width: 25rem;
}

.card-hover:hover {
    cursor: pointer;
    background-color: aliceblue;
}

.card-hover {
    text-align: center;
}

.width-100 {
    width: 100%;
}

.end-result {
    display: flex;
    justify-content: center;
    justify-content: space-evenly
}